.colorsContainer {
  width: 90%;
  margin: auto;
}
.colors {
  background-color: black;
  display: inline-block;
  height: 50px;
  border: 1px solid black;
  margin: 0 2px 0 auto;
  cursor: pointer;
}

.colors img {
  height: 50px;
}
