.formCont {
  padding-top: 80px;
  z-index: 2;
  position: absolute;
  height: calc(100vh - 80px);
  width: 100%;
  background-color: white;
}

label {
  display: block;
}
input {
  display: block;
}
