.formCont {
  padding-top: 80px;
  z-index: 2;
  position: fixed;
  height: calc(100vh - 80px);
  width: 100%;
  background-color: white;
}

form {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 400px) {
  form {
    max-width: 400px;
  }
}

input {
  width: 100%;
  margin: 0 0 20px 0;
  background: transparent;
  border: 0;
  border-bottom: 2px solid black;
  padding: 10px 0;
}

.formCont button {
  border: 1px solid black;
  background-color: rgb(43, 43, 43);
  color: white;
  height: 25px;
  width: 100%;
  font-size: 15px;
  margin: 0 auto 10px auto;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}

span {
  font-size: 12px;
  color: red;
}
