.item {
  position: relative;
  background-color: white;
  width: 80%;
  margin: 25px auto;
  padding-top: 5px;
  -webkit-box-shadow: 0px 0px 15px 1px #000000;
  box-shadow: 0px 0px 5px 0px #000000;
  border-radius: 15px;
}
.photo {
  background-color: white;
  width: 90%;
  margin: 10px auto 0px auto;
}

.photo img {
  width: 100%;
}

.item h1 {
  margin: 0 auto 10px auto;
  font-size: 20px;
  text-align: center;
}

.item h2 {
  font-size: 15px;
  margin-left: 20px;
  padding-bottom: 20px;
}

.capacitiesCont {
  width: 90%;
  margin: auto;
}

.capacities {
  display: inline-block;
  background-color: white;
  border: 1px solid black;
  padding: 2px;
  margin-right: 2px;
  cursor: pointer;
}

.buttonBuy {
  position: absolute;
  right: 25px;
  bottom: 30px;
  border: 1px solid black;
  background-color: rgb(43, 43, 43);
  color: white;
  height: 30px;
  width: 90px;
  font-size: 18px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}

.about {
  margin: auto;
  width: 90%;
}

.about button {
  font-weight: bold;
  border: 1px solid black;
  background-color: rgb(151, 151, 151);
  color: black;
  height: 25px;
  width: 50%;
  font-size: 13px;
  margin: 0 auto 10px auto;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}

.containerAbout {
  margin: auto;
  height: 150px;
  width: 90%;
  position: relative;
}

.item h3 {
  font-size: 15px;
  width: 90%;
  margin: 5px 0 5px 0;
}

.specyfications {
  position: absolute;
  top: 0px;
  background-color: white;
  margin: auto;
  width: 100%;
  height: 100%;
}

.specyfications p {
  margin: 0;
  font-size: 15px;
}

@media screen and (min-width: 400px) {
  .item {
    max-width: 270px;
  }
}
