.statement {
  padding-top: 80px;
  z-index: 3;
  position: fixed;
  height: calc(100vh - 80px);
  width: 100%;
  background-color: white;
}

.statementInf {
  position: relative;
  top: 200px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.statementInf div {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb(43, 43, 43);
  border-radius: 70px;
  height: 70px;
  width: 70px;
}

.statementInf img {
  position: relative;
  height: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.statement h2 {
  text-align: center;
  color: rgb(43, 43, 43);
}
.statement button {
  position: absolute;
  border: 1px solid black;
  background-color: rgb(43, 43, 43);
  color: white;
  height: 30px;
  width: 150px;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  left: 50%;
  transform: translateX(-50%);
  text-transform: uppercase;
}
